body {
  font-family: "微软雅黑";
}

div[ng-view] {
  margin: auto;
  width: 700px;
}

h2 {
  text-align: center;
}

pre {
  background-color: #efefef;
  font-family: "Lucida Console",Consolas,"Open Sans";
  color: #333332;
  margin-bottom: 1.5em;
  border-radius: 3px;
  padding: 5px;
}
