<h2>Password Credentials</h2>

<h3>User</h3>

<md-content layout-gt-sm="row" layout-padding>
  <form name="credentialsForm">
     <md-input-container class="md-block">
       <label>Name/Email</label>
       <input ng-model="user.name" type="email">
     </md-input-container>

     <md-input-container>
       <label>Password</label>
       <input ng-model="user.password" type="password">
     </md-input-container>

     <div layout="row">
       <md-button ng-click="reset()">Reset</md-button>
       <md-button class="md-raised md-primary" type="submit" ng-click="submit(user)">Submit</md-button>
     </div>
  </form>
</md-content>

<h3>Credentials</h3>

<pre>{{ credentials | json }}</pre>

<h3>Response</h3>

<message-component message="response"></message-component>
